<style>
   
    body{
        background-color:rgb(51, 45, 92);
        color:white;
    }
    /*#16a085*/
    .img-peliculas{
        width:350px;
        height:200px;
        border: none;
        transition: 0.25s;
        cursor:pointer;
        background-color: transparent;
        opacity: 1;
        
    }
    .img-peliculas:hover{
        opacity: 0.7;
    }
    .img-peliculas:focus{
        opacity:inherit;
    }
    .contenedor_peliculas{
        margin: auto;
        margin-bottom: 30px;
        width: 350px;
        height: 100%;
        background-color: rgba(137, 43, 226, 0);
    }
</style>

<div class="container">
    <div class="col">
        <div id="div_films">
            {{!-- ACA VAN LAS IMAGENES DE LAS PELICULAS --}}
        </div>
    </div>
</div>


<script src="js/app.Home.js"></script>