<style>
   
    body{
        background:#4682B4 ;font-family: sans-serif;
    }
    /*#16a085*/
    .img-peliculas{
        width:350px;
        height:200px;
        margin-top: 25px;
        border: 2px solid;
        transition: 0.25s;
        cursor:pointer;
        background-color: transparent;
        border-color: white;
        
    }
    .img-peliculas:hover{
       border-color: #2ecc71;
        
    }
    .img-peliculas:focus{
        opacity:inherit;
        border-color: #2ecc71;
    }
    .contenedor_peliculas{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 100%;
        background-color: rgba(137, 43, 226, 0);
    }
</style>

<form action="/allFilms" method="get">
    
</form>

<button id="btnEnviar">Aceptar</button>

<div class="col">
    <i id="spinner" class="spin" style="visibility:hide"></i>
    <div id="div_films">
        <div id="div_trending">
            <div class="container text-white" style="background-color:rgba(0, 0, 255, 0);margin-top:1%;">
                <h3>En tendencia</h3>
            </div>
        </div>
        <hr class="hr">
        <div id="div_popular">
            <div class="container text-white" style="background-color:rgba(0, 0, 255, 0;margin-top:1%;">
                <h3>Más populares</h3>
            </div>
        </div>
    </div>
</div>


<script src="js/appHome.js"></script>