<style>
    body{
        background: #224e42;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #99f2c8, #224e42);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #99f2c8, #224e42); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
<h1>Este va a ser el home</h1>
<h2>En proceso</h2>

<div class="container p-4">
    <h1>Welcome {{fullname}}</h1>
</div>

<form action="/pages" method="POST">
    <button name="page" value="films">Ir a Films</button>
</form>

