<style>
   
    body{
        background: #4682B4;font-family: sans-serif;
    }
    .input-login{
        border:2px solid #3498db;
        background-color: inherit;
        display: block;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 200px;
        outline: none;        
        color: white;
        border-radius: 25px;
        transition: 0.25s;

    }
    .input-login:focus{
        width: 280px;
        border-color: #2ecc71;
    }
    #btn-login{
        border:2px solid #3498db;
        background:none;
        display: block;
        margin:20px auto;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 25px;
        transition: 0.25s;
        cursor:pointer;
    }
    #btn-login:hover{
       border-color: #2ecc71;
        
    }
</style>
{{#if userNoExist}}
    <div class="alert alert-danger">
        The required user does not exist
    </div>
{{/if}}
<div class="d-flex justify-content-center container mt-5 text-white" style=" text-aling:center; background-color:#34495e; transform:translate(-50%, -50%) width:200px;border-style:double;border-width: 5px;">
    <form action="/login" method="POST" class="text-center">
        <div class="text-center mt-3" style="border-bottom: 4px solid; width:100%;">
            <img class="mb-2" src="https://img.icons8.com/material-rounded/48/000000/user-male-circle.png"/>
        </div>
        <div class="form-group text-center" >
            <input id="username" type="text" name="username" class="input-login" placeholder="usuario" autofocus>
        </div>
        <div class="form-group text-center" >
            <input id="password" type="password" name="pwd" class="input-login" placeholder="contraseña">
        </div>
        <div class="form-group p-4 text-center">
            <input id="btn-login" type="submit" value="LISTO!" class="btn btn-primary">
        </div>
    </form>
</div>