/* FONTS */
.amatic{
    font-family: 'Amatic SC', cursive;
}
/* ELEMENTS */
.hr{
    width: 85%;
    border-style: double;
    border-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}
.flecha{
    margin-left: 3%;
    margin-right: 3%;
}
.flecha:hover{
    cursor: pointer;
}
.row_films{
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border: none;
    border-top: 10px;
    border-color: rgb(255, 255, 255);
}