<header style="width: 100%; background-color:aqua;">
    <div style="display: flex;
                justify-content: center;
                align-items: center;">
        <h1>Página web</h1>
    </div>
    
    <div class="text-center p-4">
        <p></p>
    </div>
</header>